.header{
    display: flex;
    width: 1440px;
    justify-content: flex-start;
}
body {
    display: flex;
    justify-content: center;
}
.bg{
    background-image: url(../img/BackgroundBG.png);
    width: 1440px;
    height: 866px;
    flex-shrink: 0;
}
.a1{
    display: flex;
}
.hr{
    display: flex;
    gap: 12px;
    align-content: flex-end;
    align-items: center;
    margin-right: 0px;
    margin-left: 70px;

    }
.hr li{
    display: inline;
}
.hr1{
    display: flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.hr2{
    display: flex;
    width: 77.35px;
    height: 21.132px;
    flex-shrink: 0;
}
.hr3{
    display: flex;
    align-items: center;
    gap: 19px;
    padding: 4px 8px;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body sm / SemiBold */
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    margin-left: 29px;
}
.hr4{
    display: flex;
    align-items: center;
    gap: 12px;
    list-style-type: none;
    margin-left: 452px;
    padding-top: 2px;

}
.con21{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
        /* Display xl/Bold */
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px; /* 120% */
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 0;
}
.con22{
    align-self: stretch;
    color: var(--neutral-700, #374151);
font-feature-settings: 'liga' off;
/* Body lg/Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */    
margin-top: 0;
margin-bottom: 0;

}
.con1{
    display: flex;
    justify-content: space-around;
    width: 1440px;
}
.bgimg{
    width: 1440px;
    height: 752px;
    flex-shrink: 0;
    fill: rgba(242, 247, 255, 0.70);
    backdrop-filter: blur(50px);
}
.container021{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly
}
.container201{
    display: flex;
    flex-direction: column;
    align-self: stretch;color: var(--neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
    margin-bottom: 0px;

}
.container202{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 0px;

}
.container2221{
    display: flex;
    align-items: center;
    gap: 30px;

}
.container2222{
    display: flex;
    align-items: center;
    gap: 30px;

}
.container221{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}
.container22{
    display: flex;
    padding: 96px 112px;
    flex-direction: column;
    align-items: center;
    gap: 64px;

}
.img331{
    position: relative;
    top: 64px; left: 112px;
    width: 142px;
height: 116px;
flex-shrink: 0;
width: 142px;
height: 116px;
flex-shrink: 0;}

.container332a{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
    position: relative;
    top: 20px; left: 216px;
    margin-top: 0px;

}

.container332b{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    position: relative;
    top: 0px; left: 216px;
}
.container33{
    width: 1440px;
    height: 892px;
    background: var(--secondary-100, #D5FAFC);

}
.con2{
    margin-top: 178px;
}