.header{
    display: flex;
    width: 1440px;
    justify-content: flex-start;
 }
body {
    display: flex;
    justify-content: center;
}
button {
    background: none;
    border: 0;
}
.bg{
    background-image: url(../img/BackgroundBG.png);
    width: 1440px;
    height: 866px;
    flex-shrink: 0;
}
.a1{
    display: flex;
}
.hr{
    display: flex;
    gap: 12px;
    align-content: flex-end;
    align-items: center;
    margin-right: 0px;
    margin-left: 70px;

    }
.hr li{
    display: inline;
}
.hr1{
    display: flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.hr2{
    display: flex;
    width: 77.35px;
    height: 21.132px;
    flex-shrink: 0;
}
.hr3{
    display: flex;
    align-items: center;
    gap: 19px;
    padding: 4px 8px;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body sm / SemiBold */
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    margin-left: 29px;
}
.hr4{
    display: flex;
    align-items: center;
    gap: 12px;
    list-style-type: none;
    margin-left: 452px;
    padding-top: 2px;

}
.con21{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
        /* Display xl/Bold */
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px; /* 120% */
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 0;
}
.con21ff{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
        /* Display xl/Bold */
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px; /* 120% */
    letter-spacing: -1.1px;
    margin-top: 2px;
    margin-bottom: 14px;
    margin-left: -1px;

}

.con22{
    align-self: stretch;
    color: var(--neutral-700, #374151);
font-feature-settings: 'liga' off;
/* Body lg/Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 155.556% */    
margin-top: 19px;
margin-bottom: 29px;


}
.con22ff{
    align-self: stretch;
    color: var(--neutral-700, #374151);
font-feature-settings: 'liga' off;
/* Body lg/Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 155.556% */    
margin-top: 19px;
margin-bottom: 29px;


}
.con1{
    display: flex;
    justify-content: space-around;
    width: 1440px;
    margin-left: -22px;
}
.con2{
    margin-top: 172px;
}
.bgimg{
    width: 1440px;
    height: 752px;
    flex-shrink: 0;
    fill: rgba(242, 247, 255, 0.70);
    backdrop-filter: blur(50px);
}
.container021{
    display: flex;
    list-style-type: none;
    margin-top: 70px;
    justify-content: space-between;
    margin-left: 231px;
    margin-right: 277px;
}
.container201{
    display: flex;
    flex-direction: column;
    align-self: stretch;color: var(--neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* Display lg / Bold */
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -2.2px;
    margin-bottom: 0px;
    margin-top: 150px;
    margin-left: -8px;

}
.container202{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 7px;
    letter-spacing: 1.39px;

}
.container2221{
    display: flex;
    align-items: center;
    gap: 30px;

}
.container2222{
    margin-top: 59px;
    display: flex;
    align-items: center;
    gap: 30px;

}
.container221{
    display: line;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;

}
.container22{
    display: flex;
    padding: 45px 112px;
    flex-direction: column;
    align-items: center;
    gap: 64px;

}
.img331{
    position: relative;
    top: 64px; left: 112px;
    width: 142px;
height: 116px;
flex-shrink: 0;
width: 142px;
height: 116px;
flex-shrink: 0;}

.container332a{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 1px;
    position: relative;
    top: 20px; left: 216px;
    margin-top: -20px;

}

.container332b{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    position: relative;
    top: -20px; left: 216px;
    letter-spacing: 1px;
}
.container33{
    margin-top: 48px;
    width: 1440px;
    height: 892px;
    background: var(--secondary-100, #D5FAFC);

}
.con3{
    margin-top: 60px;
    margin-left: -25px;
}

.container333a{
    display: flex;
    width: 319px;
    height: 336px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 8px;
    background: var(--White, #FFF);
    margin-left: 319px;
    margin-top: 23px;
    margin-right: 34px;
    /* Shadow md */
    box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06), 0px 4px 8px -2px rgba(17, 24, 39, 0.10);
    

}
.container333aa{
    display: flex;
    margin-left: 1px;
}

.container333bb{
    display: inline;
}
.container333ab{
    margin-right: 16px;
}
.container333c{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 0px;
    letter-spacing: 0.65px;
    margin-top: 1px;
}
.container333d{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Bold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    margin-top: 22px;
    margin-bottom: 0px;
    letter-spacing: 0.65px;
}
.container333e{
    align-self: stretch;
    color: var(--neutral-500, #6B7280);
    font-feature-settings: 'liga' off;
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 0px;
    letter-spacing: 0.85px;
}
.container44{
    display: flex;
    width: 424px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 8px;
    margin-top: -119px;
    background: var(--White, #FFF);
    box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06), 0px 4px 8px -2px rgba(17, 24, 39, 0.10);
    height: 249px;

}
.container44da{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: -5px;
    letter-spacing: 0.95px;

}
.container44db{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    margin-top: 26px;
    letter-spacing: 0.95px;
    margin-bottom: 0px;


/* Body lg / Bold */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */

}
.container44dc{
    align-self: stretch;
    color: var(--neutral-500, #6B7280);
    font-feature-settings: 'liga' off;
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 0px;
    letter-spacing: 0.95px;

}
.container44b{
    display: flex;
}
.container44c{
    margin-right: 16px;
}
.container333{
    display: flex;
}
.container45a{
    margin-left: 32px;
    margin-top: 30px;
}
.container45b{
    margin-top: 6px;
    margin-left: 32px;
    display: flex;
    letter-spacing: 1.65px;
}
.container45c{
    margin-right: 16px;
    margin-top: -10px;
}
.con45a{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: -6px;

}
.con45b{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    
    /* Body lg / Bold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    margin-bottom: 0px;
    margin-top: 24px;
    letter-spacing: 0.65px;

}
.con45c{
    align-self: stretch;color: var(--neutral-500, #6B7280);
    font-feature-settings: 'liga' off;
    
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 0px;
    

}
.container45{
    display: flex;
    width: 382px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 8px;
    background: var(--White, #FFF);
        /* Shadow md */
    box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06), 0px 4px 8px -2px rgba(17, 24, 39, 0.10);
    margin-top: 30px;
    margin-left: 0px;
    height: 256px;
    letter-spacing: 0.65px;
    
    
}
.con55at{
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px; /* 125% */
    letter-spacing: 0.8px;
    margin-left: 114px;
    margin-top: 89px;
    
}
.con55att{
    margin-top: -39px;
    margin-left: 112px;
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 1.45px;


}
.con56{
    display: flex;
}
.con57a{
    display: flex;
}
.con58{
    display: flex;
    margin-left: 5px;
}
.con59{
    display: flex;
}
.con60a{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 22px;
    align-self: stretch;color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display md/Bold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 125% */
    letter-spacing: 1.5px;


}
.con60b{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 19px;
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 1.0px;

    

}
.con58a1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -5px;
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display md/Bold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 125% */
    letter-spacing: 3.6px;
    
}
.con58a2{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -3px;
    align-self: stretch;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
        /* Body md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 1.1px;

}
.con57b{
    display: flex;
    margin-top: 40px;
    margin-left: 7px;
}
.con68{
    display: flex;
}
.con69{
    display: flex;
    margin-left: 161px;
}
.iso111{
    width: 30px;
    height: 32px;
    margin-top: 16px;
    margin-right: 35px;

}
.con56b{
    margin-left: 246px;
    margin-top: 80px;
}
.con58a{
    margin-left: 27px;

}
.iso112{
    margin-left: 100px;
}
.con59a{
    margin-left: 6px;
}
.con70{
    display: flex;
    margin-bottom: 81;
}
.con71{
    margin-top: 146px;
    margin-left: 111px;
    align-self: stretch;
}
.con71a{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    letter-spacing: 2.1px;
    /* Display lg/Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    margin-bottom: 7px;

}
.con71b{
    margin-top: 0px;
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    letter-spacing: 1.1px;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */

}
.con72{
    margin-left: 143px;
    margin-top: 156px;
    width: 540px;
    height: 270px;
    flex-shrink: 0;
    fill: var(--primary-100, #EDE9FE);
    background-image: url(../img/Vector.png);
}
.lg1{
    margin-left: 26px;
    margin-top: 31px;

}
.lg2{
    margin-top: 10px;
    margin-left: 40px;
    padding-top: 0;
    border-top: 0;
}
.lg3{
    margin-top: 10px;
    margin-left: 40px;
}
.lg4{
    margin-top: 10px;
    margin-left: 23px;   
}
.lg5{
    margin-top: 20px;
    margin-left: 89px;
}
.lg6{
    margin-top: 10px;
    margin-left: 22px;
}
.lg7{
    margin-top: 10px;
    margin-left: 20px;
}
.con80{
    margin-top: 81px;
    margin-left: 0;
    display: flex;
    /*padding: 0px 112px;*/
    align-items: center;
    gap: 32px;
    background: var(--secondary-600, #1DB5BE);
    align-items: flex-start
}
.con80a{
    margin-top: 4px;
    margin-right: 0px;
    margin-left: 112px;
}
.con80aa{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
    margin-top: 106px;
    margin-bottom: 9px;
    letter-spacing: 1.1px;

}
.con80ab{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1.1px;
}
.con80ac{
    color: var(--neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-top: 52px;
    margin-bottom: 7px;

}
.con80b{
    margin-top: 0px;
    margin-left: 54px;
    margin-bottom: 0px;
    display: flex;

}
.con80c{
    margin-top: 160px;
    margin-left: -66px;
}
.con85{
    margin-top: 0px;
    margin-left: 0px;


}
.con86{
    margin-top: 0px;
    margin-left: 0px;

}
.foot{
    display: flex;
    width: 1440px;
    /*padding: 64px 112px;*/
    align-items: flex-start;
    background: var(--Black, #000);
    justify-content: normal

}
.foot01{
    margin-left: 39px;
    margin-top: 0px;
}
.foot1{
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off;
    /* Body md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 63px;
    margin-left: 72px;
    
}
.foot11{
    margin-left: 0px;
    margin-top: 16px;
}
.foot11 li{
    display: inline-block;
    letter-spacing: 1.1px;
}
.foot12{
    margin-left: 0px;
    margin-top: 16px;    
}
.foot12 li{
    display: inline-block;
    letter-spacing: 1.1px;
    padding-right: 21px;
}
.foot13{
    color: var(--neutral-300, #D1D5DB);
    font-feature-settings: 'liga' off;
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-left: 41px;
    margin-top: 20px;
    margin-bottom: 66px;
    letter-spacing: 1.0px;

}
.foot20{
    color: var(--neutral-300, #D1D5DB);
    font-feature-settings: 'liga' off;
    /* Body lg / Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-left: 0px;
    margin-top: 0px;

}
.foot2{
    display: flex;
    margin-left: 599px;
    margin-top: 61px;
    letter-spacing: 1.5px;
    flex-direction: column;
    flex-wrap: wrap;


}
.foot2002{
    margin-top: 15px;
}
.burger {
    display: none;
}
@media screen and (max-width: 768px) {
    .bg{
        width: 768px;

    }
    .header{
        width: 768px;
    }
    .hr{
        margin-left: 0px;
    }
    .con1{
        flex-direction: column;
        align-items: center;
        width: 768px;
        margin-left: -31px;
    }
    }
    .con2{
        margin-top: 77px;
    }
    .con21ff{
        font-size: 48px;
        line-height: 63px;
    }
    .con21{
        display: none;
    }
    .con22ff{
        margin-top: 2px;
    }
    .con22{
        display: none;
    }
    .hr4{
        margin-left: 190px;
    }
.container1{
    width: 768px;
}
    .hr3 {
        display: none;
    }
    .burger {
        display: block;
        margin-left: 17px;
        
    }

@media screen and (max-width: 375px) {
    
}
